* {
  font-family: 'Bungee', cursive;
}

header {
  margin-bottom: 10px;
}

.app {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.header {
  font-size: 60px;
}

.subheader {
  font-size: 20px;
}

a.link {
  text-decoration: none;
  color: #ff1769;
}

a.link:hover {
  text-decoration: none;
  border-bottom: 2px solid #000;
}

.select-container select {
  padding: 10px;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: #ff1769;
  font-size: 18px;
  max-width: 210px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.select-container select:focus {
  outline: none;
}
